anthropic==0.34.2
beautifulsoup4==4.12.3
email-validator==2.2.0
flask==3.0.3
flask-login==0.6.3
flask-mail==0.10.0
flask-migrate==4.0.7
flask-sqlalchemy==3.1.1
flask-wtf==1.2.1
fuzzywuzzy==0.18.0
gdown==5.2.0
google-genai==0.8.2
google-generativeai==0.8.2
gunicorn==23.0.0
joblib==1.4.2
langdetect==1.0.9
mediapipe==0.10.14
nltk==3.9.1
numpy==2.1.1
openai==1.42.0
opencv-python==4.10.0.84
pillow==10.4.0
psutil==6.0.0
psycopg2-binary==2.9.9
python-dotenv==1.0.1
python-levenshtein==0.25.1
pytz==2024.1
razorpay==1.4.2
redis==5.0.8
requests==2.32.3
scikit-learn==1.5.1
scipy==1.14.1
sendgrid==6.11.0
sift-stack-py==0.1.0
sqlalchemy==2.0.32
textblob==0.18.0.post0
trafilatura==1.12.2
twilio==9.2.4
werkzeug==3.0.4
wtforms==3.1.2